<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unb.unbsolidaria">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".voluntary.OpportunityAcitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity android:name=".voluntary.ViewOpportunities">
        </activity>
        <activity
            android:name=".organization.OrganizationScreen"
            android:label="@string/title_activity_organization_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
        <activity
            android:name=".voluntary.VoluntaryScreen"
            android:label="@string/title_activity_organization_screen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
        </activity>
    </application>

</manifest>